body {
	font-family: arial,sans-serif;
}

.dialog {
	display:none;	
	font-size: 14px;
}

#tblCliente,#tbl_equipamento {
	width: 90%;
		border-collapse:collapse;
}

#tbl_equipamento {
	width: 100%;
}

th,td {
       	border: 1px black solid;
       	border-collapse:collapse;
 }
        
