body {
	font-family: arial,sans-serif;
}

#dialog {
	display:none;	
}

#tblCliente {
	width: 90%;
		border-collapse:collapse;
}

th,td {
       	border: 1px black solid;
       	border-collapse:collapse;
 }
        
